---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HomeSection from '../components/HomeSection.astro';
import AboutSection from '../components/AboutSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import EducationSection from '../components/EducationSection.astro';

const currentLocale = 'pt';
---

<Layout title="Portfólio" locale={currentLocale}>
	<Header />
	<main>
		<HomeSection locale={currentLocale} />
		<AboutSection locale={currentLocale} />
		<ProjectsSection locale={currentLocale} />
		<ExperienceSection locale={currentLocale} />
		<EducationSection locale={currentLocale} />
	</main>
</Layout>
